%center
  .main-container.print
    .title
      %h1 Выборы 14 сентября
    .dist
      %h2= @municipality
    .center
      - @distincts.each do |d|
        %h2.b
          Округ
          = d.title
        - d.candidates.each do |c|
          %span.candidate= c.full_name
    .clear
    .footer
      %h2 Узнай своих кандидатов на mo2014.ru
      