@import "vars";
@import "mixins";

.clear {clear: both;font-size:0; line-height:0; display: block;}
.wrap_style {
	padding: 10px 0;
}
.login-wrapper {
	width: 100%;
	height: 100%;
	margin: 20px auto 0 auto;
  .login {
    width: 360px;
  }

  .login-button {
    width: 175px;
    margin-right:5px;
  }
  
}
#loader {
  z-index: 232398293;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  display: none;
  i {
    color: #fff;
    font-size: 80px;
    margin-top: 20%;
    position: fixed;
  }
}
.about_hint-ico_more {
  cursor: pointer;
}
body {
	font-size: $base-fontSize;
}
.col-md-6 {
	padding: 0;
}
a {
	text-decoration: none;
	&:hover, &:focus {
		text-decoration: none;
	}
}
input {
	outline: none;
}
ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
.col-md-4 {
	&.col-indent {
		padding: 0;
	}
}
.nav {
	position: relative;
	> li {
		margin-left: 20px;
		> a {
			padding:0;
			display: inline-block;
			&:hover, &:focus {
				background-color: transparent;
			}
		}
	}
}
.container, .col-md-8 {
	padding: 0 0 15px 0;
}

.container-title
{
  padding-bottom: 5px;
  text-align: center;
}
.row {
	margin: 0;
}
.container-outlook {
	min-height: 341px;
	padding: 0;
}
.container-indent {
	margin-bottom: 55px;
}


.link_list {
	float: left;
	li {
		float: left;
		margin-left: 18px;
		&:first-child {
			margin-left: 0;
			.link_ico {
				display: none;
			}			
		}
		&.active {
			.link {
				color: $color-yellow;
				border-bottom-color: transparent;
			}
		}
	}
}
.distinct-title {
  font-family: 'pf_beausans_proregular';
  font-size: 22px;
  line-height: 80px;
  color: $color-yellow;
  text-align: center;
}
.link {
	font-family: 'pf_beausans_probold';
	font-size: $base-fontSize;
	line-height: 1;
	color: $color-black;
	text-transform: uppercase;
	border-bottom: 1px solid $color-black;
	&:hover {
		border-bottom-color: transparent;
		color: $color-black;
	}
}
.link_ico {
	display: inline-block;
	width: 5px;
	height: 6px;
	background: url(asset-path("sprite.png")) -880px -80px no-repeat;
	margin-right: 18px;
	vertical-align: middle;
}
.link_button {
	display: inline-block;
	line-height: (46px / 20px) + 0em;
	font-size: (20px / $base-fontSize) + 0em;
	font-family: 'pf_beausans_probold';
	background-color: $color-yellow;
	@include padding( '', 44px, '', 44px, 20px);
	color: $color-white;
	&:hover {
		background-color: #f9c45e;
		color: $color-white;
	}
	&.active {
		background-color: #e6a526;
	}
    &.settled { width: 500px; }
	&.link_button-blue {
		background-color: $color-blue;
		&:hover {
			background-color: #4785c7;
			&.active {
				background-color: #1c5a9d;
			}
		}
	}
}
.wrap_link-button {
	@include position-coord(absolute, '', '', '', -50%);
	&.link-button-pos {
		position: static;
	}
	&.link-button-left {
		float: left;
		margin-left: 70px;
	}
	li {
		margin: 10px 0 0 50px;
	}
}

.wrap_ico {
	background-color: #dfdfdf;
	padding: 25px 0;
}
.ico_list-wrap {
	> li {
		margin-top: 30px;
		&:first-child {
			margin-top: 0;
		}
	}
}
.ico_list {
	@include position-coord(relative, '', '', '', -40px);
	li {
		float: left;
		margin-left: 40px;
		min-height: 100px;
	}
}
.ico-item {
	color: $color-white;
	display: inline-table;
	text-align: center;
  width: 130px;
  height: 98px;
	.ico-text {
    font-family: 'pf_beausans_proregular';
		font-size: (15px / $base-fontSize) + 0em;
		line-height: (19px / 15px) + 0em;
		text-align: center;
		display: block;
		text-decoration: none;
		&.ico-text_small {
			//width: 72px;
		}
	}
	&:hover {
		color: $color-white;
		.ico-text {
			text-decoration: none;
		}
	}
	&.active {

	}
	.ico-img {
		display: inline-block;
		min-height: 55px;
	}
	&.ico-yard {
		.ico-img {
			width: 47px;
			height: 45px;
			background: url(asset-path("sprite.png")) -40px 0 no-repeat;
		}
		&.active {
			.ico-img {
				background-position: -40px -160px;
			}
			&:hover {
				.ico-img {
					background-position: -40px -160px;
				}
			}
		}
		&:hover {
			.ico-img {
				background-position: -40px -80px;
			}
		}
	}
	&.ico-square {
		.ico-img {
			width: 56px;
			height: 41px;
			background: url(asset-path("sprite.png")) -120px 0 no-repeat;
		}
		&.active {
			.ico-img {
				background-position: -120px -160px;
			}
			&:hover {
				.ico-img {
					background-position: -120px -160px;
				}
			}
		}
		&:hover {
			.ico-img {
				background-position: -120px -80px;
			}
		}
	}
	&.ico-garbage{
		.ico-img {
			width: 43px;
			height: 43px;
			background: url(asset-path("sprite.png")) -200px 0 no-repeat;
		}
		&.active {
			.ico-img {
				background-position: -200px -160px;
			}
			&:hover {
				.ico-img {
					background-position: -200px -160px;
				}
			}
		}
		&:hover {
			.ico-img {
				background-position: -200px -80px;
			}
		}
	}
	&.ico-home {
		.ico-img {
			width: 60px;
			height: 40px;
			background: url(asset-path("sprite.png")) -280px 0 no-repeat;
		}
		&.active {
			.ico-img {
				background-position: -280px -160px;
			}
			&:hover {
				.ico-img {
					background-position: -280px -160px;
				}
			}
		}
		&:hover {
			.ico-img {
				background-position: -280px -80px;
			}
		}
	}
	&.ico-become_hero {
		.ico-img {
			width: 28px;
			height: 45px;
			background: url(asset-path("sprite.png")) -360px 0 no-repeat;
		}
		&.active {
			.ico-img {
				background-position: -360px -160px;
			}
			&:hover {
				.ico-img {
					background-position: -360px -160px;
				}
			}
		}
		&:hover {
			.ico-img {
				background-position: -360px -80px;
			}
		}
	}
	&.ico-small_business {
		.ico-img {
			width: 48px;
			height: 43px;
			background: url(asset-path("sprite.png")) -400px 0 no-repeat;
		}
		&.active {
			.ico-img {
				background-position: -400px -160px;
			}
			&:hover {
				.ico-img {
					background-position: -400px -160px;
				}
			}
		}
		&:hover {
			.ico-img {
				background-position: -400px -80px;
			}
		}
	}
	&.ico-bicycle {
		.ico-img {
			width: 59px;
			height: 38px;
			background: url(asset-path("sprite.png")) -480px 0 no-repeat;
		}
		&.active {
			.ico-img {
				background-position: -480px -160px;
			}
			&:hover {
				.ico-img {
					background-position: -480px -160px;
				}
			}
		}
		&:hover {
			.ico-img {
				background-position: -480px -80px;
			}
		}
	}
	&.ico-honesty_authorities {
		.ico-img {
			width: 35px;
			height: 40px;
			background: url(asset-path("sprite.png")) -560px 0 no-repeat;
		}
		&.active {
			.ico-img {
				background-position: -560px -160px;
			}
			&:hover {
				.ico-img {
					background-position: -560px -160px;
				}
			}
		}
		&:hover {
			.ico-img {
				background-position: -560px -80px;
			}
		}
	}
	&.ico-your_problem {
		.ico-img {
			width: 46px;
			height: 45px;
			background: url(asset-path("sprite.png")) -640px 0 no-repeat;
		}
		&.active {
			.ico-img {
				background-position: -640px -160px;
			}
			&:hover {
				.ico-img {
					background-position: -640px -160px;
				}
			}
		}
		&:hover {
			.ico-img {
				background-position: -640px -80px;
			}
		}
	}
}
.arrow {
	display: inline-block;
	width: 20px;
	height: 53px;
	cursor: pointer;
	&.arrow_prev {
		background: url(asset-path("sprite.png")) -720px -80px no-repeat;
		&:hover, &.active {
			background-position: -720px -0px;
		}
	}
	&.arrow_next {
		background: url(asset-path("sprite.png")) -760px -80px no-repeat;
		&:hover, &.active {
			background-position: -760px 0px;
		}
	}
}
.title {
	font-family: 'pf_beausans_prosemibold';
	font-size: (36px / $base-fontSize) + 0em;
	line-height: 1;
	color: $color-black;
	.title-relative {
		display: inline-block;
		color: $color-yellow;
		position: relative;
		border-bottom: 2px solid $color-yellow;
		.title-relative-arrow {
			@include position-coord(absolute, '', '', -8px, 50%);
			margin-left: -9px;
			display: inline-block;
			width: 18px;
			height: 8px;
			background: url(asset-path("sprite.png")) -800px 0 no-repeat;
		}
	}
	.title-relative-none {
		color: #c4c4c4;
		border-bottom: 2px solid #c4c4c4;
		.title-relative-arrow {
			display: none;
		}
	}
	&:hover {
		.title-relative-none {
			//border-bottom: none;
			cursor: pointer;
		}
	}
}
.candidate_avatar {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  background-size: 140px;
}
.candidate-scale_wrap {
	width: 308px;
	&.candidate-scale_wrap-left {
		float: left;
	}
}
.candidate_head {
	.candidate-ico {
		display: inline-block;
		width: 6px;
		height: 15px;
		background: url(asset-path("sprite.png")) -840px 0 no-repeat;
		float: left;
		&.candidate-ico_four {
			float: right;
			width: 33px;
			background-position: -880px 0;
		}
	}
	.candidate_head-text {
		float: left;
		margin-left: 50px;
		font-family: 'Tahoma';
		font-size: (14px / $base-fontSize) + 0em;
		line-height: 15px;
	}
}
.candidate_head-decor {
	height: 15px;
	background: #8eec7c; /* Old browsers */
	background: -moz-linear-gradient(left, #8eec7c 0%, #7ff4ea 18%, #7aafff 39%, #ffffac 57%, #ffd847 79%, #ff6c00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#8eec7c), color-stop(18%,#7ff4ea), color-stop(39%,#7aafff), color-stop(57%,#ffffac), color-stop(79%,#ffd847), color-stop(100%,#ff6c00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #8eec7c 0%,#7ff4ea 18%,#7aafff 39%,#ffffac 57%,#ffd847 79%,#ff6c00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #8eec7c 0%,#7ff4ea 18%,#7aafff 39%,#ffffac 57%,#ffd847 79%,#ff6c00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #8eec7c 0%,#7ff4ea 18%,#7aafff 39%,#ffffac 57%,#ffd847 79%,#ff6c00 100%); /* IE10+ */
	background: linear-gradient(to right, #8eec7c 0%,#7ff4ea 18%,#7aafff 39%,#ffffac 57%,#ffd847 79%,#ff6c00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8eec7c', endColorstr='#ff6c00',GradientType=1 ); /* IE6-9 */
	@include border-radius(7px);
	@include box-shadow-ext(1px, 1px, 10px, 0, rgba(0, 0, 0, 1));
}
.candidate_wrap {
	background-color: $color-white;
	width: 308px;
	@include box-shadow-ext(3px, 3px, 10px, 0, rgba(0, 0, 0, 1));
	@include border-radius(2px);
	padding: 10px 5px 5px 18px;
	margin-top: 10px;
	&.candidate_wrap-left {
		float: left;
	}
}
.candidate_body {
	position: relative;
	padding-bottom: 13px;
	.link_button {
		margin-top: 10px;
	}
}
.candidate_body-title {
	font-family: 'pf_beausans_proregular';
	font-size: (18px / $base-fontSize) + 0em;
	color: $color-black;
	.candidate_list-count {
		color: #a8a8a8;
	}
}
.candidate_list {
	@include position-coord(relative, '', '', '', -25px);
	width: 300px;
	li {
		float: left;
		margin: 20px -10px 0 25px;
		.candidate_list-ico {
			display: inline-block;
			vertical-align: middle;
			width: 32px;
			height: 32px;
			background: url(asset-path("sprite.png")) -880px -40px no-repeat;
		}
		.candidate_list-text {
			display: inline-block;
			vertical-align: middle;
			margin-left: 8px;
			width: 85px;
			font-family: 'Tahoma';
			font-size: (12px / $base-fontSize) + 0em;
			line-height:1;
			text-decoration: underline;
			color: $color-blue;
		}
	}
}
.candidate_link {
	margin-top: 10px;
	display: inline-block;
	font-family: 'pf_beausans_probold';
	font-size: (23px / $base-fontSize) + 0em;
	line-height: (46px / 20px) + 0em;
	background-color: $color-blue;
	color: $color-white;
	padding: 0 42px;
}
.candidate-decor {
	@include position-coord(absolute, '', '', 0, 0);
	display: inline-block;
	width: 270px;
	height: 1px;
	background-color: #d6d6d6;
}
.candidate-arrow_wrap {
	text-align: center;
}
.candidate-arrow_link {
	display: inline-block;
	width: 10px;
	height: 6px;
	background: url(asset-path("sprite.png")) -840px -80px no-repeat;
	cursor: pointer;
}
.link_load-more-wrap {
	float: left;
	margin-left: 58px;
	li {
		float: left;
		margin-left: 25px;
		&:first-child {
			margin-left: 0;
		}
	}
}
.link_load-more {
	display: inline-block;
	width: 48px;
	height: 41px;
	background: url(asset-path("sprite.png")) -920px 0 no-repeat;
	&:hover, &:focus {
		background-position: -920px -80px;
	}
	&.active {
		background-position: -920px -160px;
	}
}
.show_slide_1, .show_slide_2 {
  cursor: pointer;
}
.info_wrap {
	&.info_wrap-indent {
		margin-top: 30px;
	}
	.info-ico {
		display: inline-block;
		margin-right: 5px;
		vertical-align: middle;
		width: 20px;
		height: 20px;
		background: url(asset-path("sprite.png")) -800px -80px no-repeat;
	}
	.info-text {
		font-family: 'Tahoma';
		font-size: (14px / $base-fontSize) + 0em;
		line-height: 1;
		color: $color-black;
		.info-text-ico {
			width: 20px;
			height: 20px;
			background: url(asset-path("sprite.png")) -800px -80px no-repeat;
			content: "";
			display: block;
			@include position-coord(absolute, '', '', '', -40px);
			margin-top: 3px;
		}
	}
	.info-link {
		color: $color-blue;
		text-decoration: underline;
	}
	&:hover {
		.info-link {
			text-decoration: none;
		}
	}
}
.soc_list {
	@include position-coord(relative, '', '', '', -19px);
	display:inline-block;
	height: 61px;
	li {
		float: left;
		margin-left: 19px;
		.soc-link {
			display: inline-block;
			width: 45px;
			height: 45px;
			&.soc-fb {
				background: url(asset-path("sprite.png")) 0px -240px no-repeat;
				&:hover, &.active {
					background-position: -240px -240px;
				}
			}
			&.soc-tw {
				background: url(asset-path("sprite.png")) -80px -240px no-repeat;
				&:hover, &.active {
					background-position: -320px -240px;
				}
			}
			&.soc-vk {
				background: url(asset-path("sprite.png")) -160px -240px no-repeat;
				&:hover, &.active {
					background-position: -400px -240px;
				}
			}
		}
	}
}
.soc_list-text {
	font-family: 'pf_beausans_prosemibold';
	font-size: (22px / $base-fontSize) + 0em;
	line-height: 1;
	margin-top: 16px;
}
.style-left {
	float: left;
	padding: 0 40px;
}
.info_wrap-list {
	margin-bottom: 40px;
	li {
		margin-top: 10px;
	}
}
.compete-ico {
	display: inline-block;
	width: 68px;
	height: 61px;
	background: url(asset-path("sprite.png")) -720px -160px no-repeat;
	&:hover {
		background-position: -800px -160px;
	}
}
.superman-ico {
	display:inline-block;
	width: 74px;
	height: 93px;
	background: url(asset-path("sprite.png")) -480px -240px no-repeat;
	&:hover {
		background-position: -720px -240px;
	}
	&.man {
		background-position: -600px -240px;
		width: 71px;
		height: 111px;
		&:hover {
			background-position: -840px -240px;
		}
	}
}
.superman_list {
	li {
		float: left;
		margin-left: 20px;
		.superman-ico {
			margin-top: 20px;
			&.man {
				margin-top: 0;
			}
		}
	}
}
.help_proj {
	font-family: 'pf_beausans_prosemibold';
	font-size: (36px / $base-fontSize) + 0em;
	line-height: 1;
	text-align:center;
	.help_proj-link {
		border-bottom: 1px dashed $color-blue;
		color: $color-blue;
		&:hover {
			border-bottom: none;
			color: $color-blue;
		}
	}
}
.form-style_list {
	display: inline-block;
	li {
		margin-top: 10px;
	}
}
.form-pos {
	padding: 20px 0 0 0;
	&.form-center {
		text-align: center;
	}
}
.form_inp {
	display:inline-block;
	width: 375px;
	line-height: 1;
	height: (47px / 16px) + 0em;
	font-family: 'Tahoma';
	font-size: (16px / $base-fontSize) + 0em;
	color: $color-black;
	background-color: #f8f8f8;
	border: 1px solid transparent;
	border-top: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	padding: 0 16px;
}
.form-hint_text {
	display: block;
	font-family: 'Tahome';
	font-size: (15px / $base-fontSize) + 0em;
	color: #ce0000;
}
.input_wrap {
	position: relative;
	width: 475px;
	.form_inp-text {
		@include position-coord(absolute, 50%, '', '', 16px);
		margin-top: -6px;
		display: inline-block;
		color: $color-black;
		font-family: 'Tahoma';
		font-size: (16px / $base-fontSize) + 0em;
		line-height: 1;
		&.form_inp-default {
			color: #c4c4c4;
		}
	}
	.form-hint_text {
		display: none;
		margin-left: 20px;
	}
	.form_inp-star {
		display: inline-block;
		width: 5px;
		height: 5px;
		background: url(asset-path("sprite.png")) -880px -80px no-repeat;
		vertical-align: 6px;
	}
	&.input_disabled {
		.form_inp-text {
			color: #c4c4c4;
		}
	}
	&.input_completed {
		.form_inp {
			border: 1px solid $color-blue;
		}
		.form_inp-star{
			display: none;
		}
	}
	&.input_error {
		.form-hint_text {
			display: inline-block;
		}
		.form_inp {
			background-color: #fff3f3;
			border: 1px solid #d15a5a;
		}
		.form_inp-star {
			display: none;
		}
	}
	&.input_send {
		float: left;
		.form-hint_text {
			display: block;
			margin: 7px 0 0 0;
		}
	}
}
.block_news {
	width: 232px;
	min-height: 306px;
	position: relative;
	background-color: $color-white;
	padding: 158px 11px 5px 17px;
	@include box-shadow-ext(4px, 4px, 5px, 0, rgba(0, 0, 0, 0.1));
	&.block_news-left {
		float: left;
	}
	.block_news-img {
		display: inline-block;
		@include position-coord(absolute, 0, '', '', 0);
		height: 146px;
		width: 232px;
	}
	.block_news-title {
		margin: 0 0 5px 0;
		font-size: (18px / $base-fontSize) + 0em;
		color: $color-black;
		line-height: ( 23px / 18px ) + 0em;
		font-family: 'pf_beausans_prosemibold';
		margin-right: 5px;
		.block_news-title_ico {
			display: inline-block;
			width: 18px;
			height: 18px;
			background: url(asset-path("sprite.png")) -0px -320px no-repeat;
			vertical-align: middle;
			&:hover, &:focus {
				background-position: -40px -320px;
			}
		}
		.block_news-title_text {
			width: 180px;
		}
		&:hover, &:focus {
			.block_news-title_text {
				cursor: default;
				border-bottom: 1px solid $color-black;
			}
		}
	}
	.block_news-data_link {
		font-family: 'Tahoma';
		font-size: (13px / $base-fontSize) + 0em;
		line-height: 1;
		color: $color-blue;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
	.block_news-text {
		font-family: 'Tahoma';
		font-size: (13px / $base-fontSize) + 0em;
		line-height: (20px / 13px) + 0em;
	}
}
.form_login-send {
	float: left;
	.inp_submit {
		display: none;
	}
	.link_button {
		cursor: pointer;
		margin-left: 20px;
		@include padding( '', 34px, '', 34px, 20px);
	}
}
.find-block_wrap {
	height: 43px;
	width: 406px;
	position: relative;
	&.active + .popup_hint {
		display: inline-block;
	}
	.find-block {
		width: 406px;
		height: 43px;
		border: 1px solid transparent;
		background-color: $color-white;
		padding: 0 80px 0 21px;
		@include box-shadow-ext(0.1em, 0.1em, 1px, 0, rgba(122, 122, 122, 0.5));
		@include border-radius(1px);
		&:focus {
			border-color: $color-yellow;
		}
	}
	.find-block_finder {
		@include position-coord(absolute, 0, 0, '', '');
		display: inline-block;
		line-height: 43px;
		background-color: $color-yellow;
		color: $color-white;
		font-family: 'pf_beausans_probold';
		font-size: (16px / $base-fontSize) + 0em;
		padding: 0 14px;
	}
	.find-block-ico_close {
		display: none;
		width: 11px;
		height: 11px;
		background: url(asset-path("sprite.png")) -80px -320px no-repeat;
		@include position-coord(absolute, 17px, 86px, '', '');
		cursor: pointer;
		z-index: 10;
		&.active {
			display: inline-block;
		}
	}
}
.block_popup-wrap {
	position: relative;
	&.block_popup-wrap_left {
		float: left;
		margin-left: 40px;
	}
}
.popup_hint {
	&.popup_hint-show {
		display: block;
	}
	display: none;
	@include box-shadow-ext(0.2em, 0.2em, 2px, 0, rgba(122, 122, 122, 0.5));
	background-color: $color-white;
	@include padding( 21px, 21px, 21px, 21px, 16px);
	width: 406px;
	.popup_hint-title {
		font-family: 'pf_beausans_prosemibold';
		font-size: (20px / $base-fontSize) + 0em;
		line-height: 1;
		color: $color-black;
		margin-top: 0;
	}
	.popup_hint-text {
		font-family: 'Tahoma';
		font-size: (15px / $base-fontSize) + 0em;
		line-height: (20px / 13px) + 0em;
	}
	.popup_hint-link {
		color: $color-blue;
		text-decoration: underline;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}
.popup_hint-arrow_close {
	@include position-coord(absolute, 6px, 6px, '', '');
	display: inline-block;
	width: 7px;
	height: 6px;
	background: url(asset-path("sprite.png")) -800px -40px no-repeat;
	cursor: pointer;
}
.popup_hint-arrow {
	position: relative;
	@include box-shadow-ext(0.2em, 0.2em, 2px, 0, rgba(122, 122, 122, 0.5));
	background-color: $color-white;
	width: 267px;
	@include border-radius(1px);
	@include padding( 4px, 25px, 13px, 29px, 16px);
	text-align: center;
	&.popup_hint-arrow-indent {
		margin-top: 10px;
	}
	&.popup_hint-arrow-position {
		@include position-coord(absolute, 450px, '', '', 350px);
		margin-left: -175px;
	}
	.popup_hint-arrow_img {
		@include position-coord(absolute, '', '', -19px, 50%);
		margin-left: -9px;
		display: inline-block;
		width: 27px;
		height: 20px;
		background: url(asset-path("sprite.png")) -840px -40px no-repeat;
	}
	.popup_hint-arrow_title {
		font-family: 'pf_beausans_prosemibold';
		font-size: (14px / $base-fontSize) + 0em;
		line-height: (23px / 14px) + 0em;
		color: $color-black;
		margin-bottom: 0;
	}
	.popup_hint-arrow_text {
		font-family: 'Tahoma';
		font-size: (13px / $base-fontSize) + 0em;
		line-height: (23px / 13px) + 0em;
		color: $color-black;
	}
}
// start home
#header {
	padding: 35px 0 31px 0;
	&.header-bg {
		background: url(asset-path("header-bg.jpg")) no-repeat;
		background-size: cover;
		.text-decor {
			border-left-color: #fff;
			color: #fff;
		}
	}
}
.logo-wrap {
	float: left;
	.logo-link {
		display: inline-block;
		background: url(asset-path("logo.png")) no-repeat;
		width: 320px;
		height: 42px;
		&.logo-link-white {
			display: inline-block;
			background: url(asset-path("logo-white.png")) no-repeat;

		}
	}
}
.text-decor {
	display: inline-block;
	width: 170px;
	padding-left: 20px;
	font-family: 'pf_beausans_probbook';
	font-size: (13px / $base-fontSize) + 0em;
	line-height: (14px / 13px) + 0em;
	border-left: 1px solid #a3a3a3;
	color: $color-black;
	vertical-align: top;
	margin-left: 17px;
}
.slider {
	position: relative;
	text-align: center;
	background: url(asset-path("header-bg.jpg")) no-repeat;
	background-size: cover;
	width: 100%;
    height: 620px;
	padding: 55px 0 68px 0;
	/*.slider-button_decor {
		@include position-coord(absolute, '', '', 0, 0);
		display: inline-block;
		width: 100%;
		height: 4px;
		background: url(asset-path("sprite-bot_decor1.png")) repeat-x;
	}*/
}
.container-pos {
	position: relative;
	.arrow {
		margin-top: -27px;
		@include position-coord(absolute, 50%, '', '', '');
		&.arrow_prev {
			left: 0;
		}
		&.arrow_next {
			right: 0;
		}
	}
	.ico_list {
		width: 104%;
		margin-top: 50px;
	}
}
.slider-title {
	color: $color-white;
	font-size: (70px / $base-fontSize) + 0em;
  height: 70px;
  font-family: 'pf_beausans_proregular';
	line-height: 1;
	text-shadow: 1px 1px 2px $shadow-color, 0 0 1em $color-black;
}
.slider-text {
	color: $color-white;
	text-shadow: 1px 1px 2px $shadow-color, 0 0 1em $color-black;
  font-family: 'pf_beausans_proregular';
	//width: 610px;
	//width: (610px / 978px) * 100%;
	font-size: (19px / $base-fontSize) + 0em;
	line-height: (30px / 19px) + 0em;
	margin: 35px auto;
  height: 300px;
}
.about-title {
	display: inline-block;
	font-family: 'pf_beausans_prosemibold';
	font-size: (36px / $base-fontSize) + 0em;
	line-height: 1;
	color: $color-blue;
	//border-bottom: 1px solid $color-blue;
	margin-top: 47px;
	&.about-title_black {
		color: $color-black;
		border-bottom: none;
		margin: 0;
		padding: 35px 0 31px 0;
	}
}
.about-text {
	margin-top: 22px;
	font-family: 'Tahoma';
	font-size: (14px / $base-fontSize) + 0em;
	line-height: (23px / 14px) + 0em;
}
.block-about_hint {
	float: right;
	width: 397px;
	margin-top: 47px;
	background-color: #fff8e9;
	padding: 35px 37px 24px 35px;
	position: relative;
	@include position-coord(relative, '', '', '', '');
}
.about_hint-decor {
	@include position-coord(absolute, '', '', '', 0);
	display: inline-block;
	width: 100%;
	height: 3px;
	&.about_hint-decor_top {
		top: 0;
		background: url(asset-path("block-about_hint-decor_top.png")) repeat-x;
	}
	&.about_hint-decor_bottom {
		bottom: 0;
		background: url(asset-path("block-about_hint-decor.png")) repeat-x;
	}
}
.about-price {
	display: block;
	text-align: center;
	// font-family: 'pf_beausans_probold';
	font-size: (80px / $base-fontSize) + 0em;
	line-height: 1;
	color: $color-blue;
	.about-price_text {
		font-family: 'pf_beausans_prolight';
		font-size: (18px / 80px) + 0em;
		line-height: 1;
	}
}
.about_hint-text {
	position: relative;
	margin-top: 20px;
	text-align: center;
	font-family: 'Tahoma';
	font-size: (13px / $base-fontSize) + 0em;
	line-height: (24px / 13px) + 0em;
	padding: 38px 0 83px 0;
	border-top: 1px solid #e5e1d7;
	border-bottom: 1px solid #e5e1d7;
	.about_hint-ico_more-wrap {
		@include position-coord(absolute, '', '', -20px, 50%);
		margin-left: -34px;
		display: inline-block;
		width: 68px;
		height: 41px;
		background-color: #fff8e9;
		text-align: center;
		.about_hint-ico_more {
			display: inline-block;
			width: 48px;
			height: 41px;
			background: url(asset-path("sprite.png")) -920px -0px no-repeat;
			background-color: #fff8e9;
		}
	}
}
.block-outlook {
	position: relative;
	margin-top: 9px;
	// background: url(asset-path("outlook.jpg")) no-repeat;
	background-size: cover;
	width: 100%;
	min-height:341px;
	overflow: hidden;
	&.block-outlook_blue {
		.container-outlook {
			right: 0;
		}
		.block-outlook-slider {
			margin-left: 0;
		}
		.outlook-arrows {
			right: -22px;
			left: auto;
		}
		.outlook-line_decor {
			left: auto;
			right: -43px;
		}
		.outlook-text-wrap {
			background-color: $color-blue;
			left: 0;
			opacity: 0.8;
			filter: alpha(opacity=80);
		}
	}
	.outlook-text-wrap {
		@include position-coord(absolute, 101px, '', '', 502px);
		left: (502px / 978px) *100%;
		background-color: $color-yellow;
		padding: 30px 39px;
		width: (475px / 978px) *100%;
		opacity: 0.95;
		filter: alpha(opacity=95);
		.outlook-text {
			font-family: 'Tahoma';
			font-size: (14px / $base-fontSize) + 0em;
			line-height: (23px / 14px) + 0em;
			color: $color-white;
		}
	}
	.outlook-arrows {
		display: none;
		width: 45px;
		height: 45px;
		&.b {
      @include position-coord(absolute, 50%, '', '', -22px);
    }
		&.a {
      @include position-coord(absolute, 50%, -22px, '', '');
    }
    
		margin-top: -22px;
		background: url(asset-path("sprite.png")) -920px -240px no-repeat;
		z-index: 15;
	}
	.outlook-line_decor {
		display: none;
		width: 86px;
		height: 100%;
		&.b {
      @include position-coord(absolute, 0, '', '', -43px);
    }
		&.a {
      @include position-coord(absolute, 0, -43px, '', '');
    }
    
		background: url(asset-path("outlook-decor.png")) repeat-y;
		z-index: 10;
	}
}
.block-outlook-slider {
	width: 100%;
	li {
		width: 16%;
		float: left;
		position: relative;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transition-duration: 250ms;
		.outlook-item-fone {
			background-color: $color-black;
			opacity: 0.5;
			filter: alpha(opacity=50);
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
      
		}
		&.active {
			width: 84%;
      -webkit-transition-timing-function: ease-out;
      -moz-transition-timing-function: ease-out;
      -webkit-transition-duration: 250ms;
      -moz-transition-duration: 250ms;
			&:after {
				position: relative;
				width: 100%;
				display: block;
				height: 1px;
				content: '';
			}
			.outlook-item-fone {
				display: none;
			}
			.container-outlook {
				display: block;
			}
			.outlook-arrows, .outlook-line_decor {
				display: inline-block;
			}
		}
	}
}
.block-outlook-img {
	height: 100%;
	min-width: 100%;
}
.container-outlook {
	display: none;
	position: absolute;
	top: 0;
}
.map-header-wrap {
	position: relative;
}

.grey-block
{
  position: relative;
  background: url(asset-path("header/block-grey.png")) no-repeat;
  background-size: cover;
  width: 100%;
  height: 285px;
}
.map-header {
	position: relative;
	padding: 45px 0;
	text-align: center;
	&.title-small {
		padding: 53px 0;
	}
	.title-map {
		font-family: 'pf_beausans_prosemibold';
		font-size: (36px / $base-fontSize) + 0em;
		line-height: 1;
		color: $color-black;
		padding: 0 40px;
		display: inline-block;
		box-sizing: content-box;
		position: relative;
		background-color: $color-white;
		z-index: 15;
		&.title-small {
			font-size: (22px / $base-fontSize) + 0em;
			line-height: 1;
		}

        &.grey {  background-color: #f8f8f8; }

	}
	.map-text {
		font-family: 'Tahoma';
		font-size: (14px / $base-fontSize) + 0em;
		line-height: (23px / 14px) + 0em;
		color: $color-black;
		display: inline-block;
		&.map-text-wrap {
			width: (746px / 978px) * 100%;
		}
	}
	.map-header_decor {
		display: inline-block;
		width: 100%;
		height: 1px;
		background: url(asset-path("map-header-decor.png")) repeat-x;
		@include position-coord(absolute, 84px, '', '', 0);
		z-index: 10;
	}
}
/*.map-header-bottom_decor {
	display: inline-block;
	height: 20px;
	width: 100%;
	@include position-coord(absolute, -11px, '', '', 0);
	background: url(asset-path("map-header_bot-decor.png")) repeat-x;
}*/
.map-body-wrap {
	position: relative;
	display: inline-block;
	background: url(asset-path("map.jpg")) no-repeat;
	background-size: cover;
	width: 100%;
	min-height:647px;
	.map-body-wrap_bg {
		@include position-coord(absolute, 0, '', '', 0);
		background-color: $color-white;
		opacity: 0.5;
		filter: alpha(opacity=50);
		width: 100%;
		height: 100%;
	}
	.popup_hint {
		margin-top: 4px;
	}
	.map-block-wrap {
		margin-top: 45px;
	}
}
.subscription-title_wrap {
	text-align: center;
	margin-bottom: 25px;
}
.subscription-title {
	margin: 27px 0 0 0;
	font-family: 'pf_beausans_prosemibold';
	font-size: (36px / $base-fontSize) + 0em;
	line-height: 1;
	text-align: center;
	&.title-blue {
		margin-top: 0;
		display: inline-block;
		border-bottom: 1px dashed $color-blue;
		color: $color-blue;
		&:hover, &:focus {
			border-bottom-color: transparent;
		}
	}
}
.subscription-wrap_input {
	margin: 30px 0 50px 0;
	text-align:center;
}
.developments-list {
	.col-xs-6 {
		margin-top: 25px;
		padding: 0;
	}
}
.developments {
	position: relative;
	background: url(asset-path("developments-bg.png")) repeat;
	padding: 30px 0 35px 0;
	.developments-decor {
		@include position-coord(absolute, '', '', 0, 0);
		display: inline-block;
		width: 100%;
		height: 4px;
		background: url(asset-path("developments-decor.png")) repeat-x;
	}
	.developments-title {
		font-family: 'pf_beausans_prosemibold';
		font-size: (22px / $base-fontSize) + 0em;
		line-height: (23px / 22px) + 0em;
		.developments-title_ico {
			display: inline-block;
			vertical-align: middle;
			width: 16px;
			height: 19px;
			background: url(asset-path("sprite.png")) -920px -320px no-repeat;
		}
		.developments-title_text {
			margin-left: 5px;
		}
	}
}
.col-center {
	text-align: center;
}
.superman-wrap {
	margin-top: 60px;
	.superman-ico {
		margin-top: 18px;
		&.man {
			margin-top: 0;
		}
	}
	.link_button-blue {
		margin-top: 21px;
	}
}
.superman-link {
	color: $color-blue;
	text-decoration: underline;
	font-family: 'pf_beausans_proregular';
	font-size: (18px / $base-fontSize) + 0em;
	line-height: 1;
	&:hover {
		text-decoration: none;
	}
}
.soc-info_hint-text {
	margin-top: 25px;
	font-family: 'Tahoma';
	font-size: (13px / $base-fontSize) + 0em;
	line-height: (18px / 13px) + 0em;
	display: inline-block;
	width: 325px;
	.soc-info_hint-link {
		color: $color-blue;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.check-box_list {
	.title-form_small {
		width: (655px / 978px) * 100%;
		font-size: (14px / $base-fontSize) + 0em;
		line-height: 1;
		margin: 24px 0 -5px 0;
	}
	.check-box_item {
		margin-top: 24px;
	}
}
.check-box_list-wrap {
	display: inline-block;
}
.check-box_item_wrap {
	font-weight: normal;
}
.check-box_item_checkbox {
	display: none;
}
.check-box_item_ico_wrap {
	float: left;
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	@include border-radius(2px);
	background-color: #f8f8f8;
	border-left: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;
}
.check-box_item_checkbox:checked + .check-box_item_ico_wrap {
	border-left-color: #e0a126;
	border-top-color: #e0a126;
	background-color: $color-yellow;
}
.check-box_item_checkbox:checked + .check-box_item_ico_wrap .check-box_item_ico {
	@include position-coord(absolute, 50%, '', '', 50%);
	width: 14px;
	height: 10px;
	margin-left: -8px;
	margin-top: -5px;
	background: url(asset-path("sprite.png")) -960px -320px no-repeat;
}
.check-box_item_text {
	margin-left: 20px;
	text-align: left;
	float: left;
	width: 335px;
	font-family: 'Tahoma';
	font-size: (14px / $base-fontSize) + 0em;
	line-height: (20px / 14px) + 0em;
}
.submit-wrap {
	.submit-input {
		display: none;
	}
	.submit-link {
		width: 376px;
	}
}
html {
		height: 100%;
	}
body {
	position: relative;
	min-height: 100%;
	padding-top: 1px;
	margin-top: -1px;
}
#mainarea{
	//padding-bottom: 79px;
}
#footer {
	background-color: #f8f8f8;
	padding: 58px 0 18px 0;
	font-family: 'Tahoma';
	font-size: (13px / $base-fontSize) + 0em;
	line-height:1;
	color: lighten($color-black, 48%);
	margin-top: 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	.copyright {
		text-align: left;
	}
	.autor, .col-right {
		text-align: right;
		.autor-name {
			text-decoration: underline;
			color: $color-blue;
			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}
}
// end home

//start about
.about-wrap {
	position: relative;
	background: url(asset-path("developments-bg.png")) repeat;
	.about_wrap-decor {
		@include position-coord(absolute, '', '', -4px, 0);
		display: inline-block;
		width: 100%;
		height: 4px;
		background: url(asset-path("about-decor.png")) repeat-x;
		z-index: 10;
	}
}
.navbar-inverse {
	background-color: transparent;
	border: none;
	li {
		.link {
			color: $color-white;
			border-bottom-color: $color-white;
			&:hover {
				border-bottom-color: transparent;
			}
		}
		&.active {
			.link {
				color: $color-yellow;
				border-bottom-color: transparent;
			}
		}
	}
}
.title-medium {
	font-family: 'pf_beausans_prosemibold';
	font-size: (22px / $base-fontSize) + 0em;
	line-height: (23px / 22px) + 0em;
}
.about_list {
	li {
		float: left;
	}
}
.logo-list {
	margin-bottom: 40px;
	@include position-coord(relative, '', '', '', -35px);
	li {
		margin: 28px 0 0 35px;
	}
}
.list-inline {
	> li {
		padding: 0;
	}
}
.logo-list-link {
	display: inline-block;
	height: 91px;
	overflow: hidden;
	.logo-list-img {
		@include position-coord(relative, -100%, '', '', '');
	}
	&:hover, &.active {
		.logo-list-img {
			top: 0;
		}
	}
}
.about_list-text {
	font-family: 'Tahoma';
	font-size: (13px / $base-fontSize) + 0em;
	line-height: (23px / 13px) + 0em;
	font-style: italic;
	color: $color-black;
}
.about-words {
	margin: 10px 0;
	font-family: 'Tahoma';
	font-size: (14px / $base-fontSize) + 0em;
	line-height: (23px / 14px) + 0em;
	&.about-words_bold {
		font-weight: bold;
	}
}
.about-wrapper {
	margin-top: 20px;
}
.about_list {
	.col-md-6 {
		margin-top: 10px;
	}
}
// end about
// start events
.events-wrap {

}
.sub_nav-wrap {
	position: relative;
	background-color: $color-white;
	padding: 35px 0 31px 0;
}
.sub_nav {
	position: relative;
	left: -27px;
	li {
		margin-left: 27px;
		padding: 0 8px;
		background-color: transparent;
		font-family: 'pf_beausans_prosemibold';
		font-size: (15px / $base-fontSize) + 0em;
		line-height: (24px / 15px) + 0em;
		@include border-radius(1px);
		color: $color-white;
		&.active {
			background-color: $color-yellow;
			.sub_nav-link {
				color: $color-white;
				border-bottom-color: transparent;
			}
		}
		.sub_nav-link {
			color: $color-black;
			border-bottom: 1px dashed $color-black;
		}
		&:hover {
			.sub_nav-link {
				border-bottom-color: transparent;
			}
		}
	}
}
.map-header-top_decor {
	display: inline-block;
	height: 20px;
	width: 100%;
	@include position-coord(absolute, '', '', -11px, 0);
	z-index:10;
	background: url(asset-path("map-header_top-decor.png")) repeat-x;
}
.events-arrow {
	margin-left: 4px;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(asset-path("sprite.png")) -120px -320px no-repeat;
	vertical-align: middle;
	&.events-arrow-close {
		background-position: -160px -320px;
	}
}
.past_events {
	margin-top: -25px;
}
// end events
// start faq
.accordion {
	margin: 23px 0 55px 0;
}
.accordion-title_wrap {
	margin-top: 12px;
	position: relative;
	.accordion-title_ico {
		@include position-coord(absolute, 14px, 24px, '', '');
		display: inline-block;
		width: 18px;
		height: 18px;
		background: url(asset-path("sprite.png")) -200px -320px no-repeat;
	}
	&.active {
		.accordion-title_ico {
			background-position: -240px -320px;
		}
	}
}
.accordion-title {
	font-family: 'pf_beausans_probold';
	font-size: (20px / $base-fontSize) + 0em;
	line-height: 1;
	color: $color-white;
	background-color: $color-blue;
	padding: 13px 24px;
	margin: 0;
	cursor: pointer;
}
.accordion-body {
	display: none;
	padding: 26px 24px;
	background-color: #f6f6f6;
	&.active {
		display: block;
	}
}
.accordion-body_text {
	font-family: 'Tahoma';
	font-size: (14px / $base-fontSize) + 0em;
	line-height: (22px / 14px) + 0em;
	color: $color-black;
}
// end faq
// start popups
#popup_block {
	display: none;
	@include position-coord(absolute, 0, '', '', 0);
	width: 100%;
	height: 100%;
	z-index: 1000;
	&.show_popup {
		display: block;
	}
}
#popup_fone {
	@include position-coord(fixed, 0, 0, '', '');
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: $color-black;
	opacity: 0.2;
	filter: alpha(opacity=20);
}
.popup_window {
	display: inline-block;
	z-index: 1000;
	@include position-coord(fixed, '', '', '', 50%);
	@include box-shadow-ext(4px, 4px, 5px, 0, rgba(0, 0, 0, 0.1));
	&.candidate_profile {
		top: 50%;
		width: 490px;
		margin-left: -245px;
		background-color: $color-white;
		padding: 30px 46px;
	}
	.popup-title {
		font-family: 'pf_beausans_prosemibold';
		font-size: (36px / $base-fontSize) + 0em;
		line-height: (42px / 36px) + 0em;
		color: $color-black;
		margin: 0;
	}
}
.form_inp-select_ico {
	display: inline-block;
	@include position-coord(absolute, 50%, 0px, '', '');
	margin: -8px 18px 0 0;
	font-size: 15px;
	line-height: 22px;
	color: #a7a7a7;
	cursor: pointer;
}
.candidate-submit {
	display: none;
}
.candidate-submit-wrap {
	margin-top: 28px;
	.link_button {
		width: 100%;
		text-align: center;
	}
}
.candidate-form {
	.form_inp {
		width: 398px;
	}
	.form-style_list {
		margin-top: 0;
		li {
			margin-top: 25px;
		}
	}
	.form-hint_text {
		@include position-coord(absolute, '', '', -20px, '');
	}
}
.candidate-close {
	@include position-coord(absolute, 15px, 15px, '', '');
	color: #d5d5d5;
	font-size: (14px / $base-fontSize) + 0em;
	display: inline-block;
	cursor: pointer;
}
.popover {
	&.popover-pos {
		top: 350px;
	}
	border: none;
	display: inline-block;
	top: 140px;
	@include box-shadow-ext(0.2em, 0.2em, 2px, 0, rgba(122, 122, 122, 0.5));
	background-color: $color-white;
	width: 267px;
	@include border-radius(1px);
	@include padding( 4px, 25px, 13px, 29px, 16px);
	text-align: center;
	z-index: 10;
	.popover-title {
		@include border-radius(0px);
		font-family: 'pf_beausans_prosemibold';
		font-size: (14px / $base-fontSize) + 0em;
		line-height: (23px / 14px) + 0em;
		color: $color-black;
		margin-bottom: 0;
		background-color: $color-white;
		border-bottom: none;
		padding: 0;
	}
	.popover-content {
		padding: 0;
		p {
			font-family: 'Tahoma';
			font-size: (13px / $base-fontSize) + 0em;
			line-height: (23px / 13px) + 0em;
			color: $color-black;
			margin-bottom: 0;
		}
	}
	.arrow {
		@include position-coord(absolute, '', '', -19px !important, 50%);
		margin-left: -9px;
		display: inline-block;
		width: 27px;
		height: 20px;
		background: url(asset-path("sprite.png")) -840px -40px no-repeat;
		border: none;
		margin-top: 0;
		top: auto;
		&:after {
			display: none;
		}
	}
	&.popup_hint-arrow-position {
		@include position-coord(absolute, 460px, '', '', 350px);
		margin-left: -175px;
	}
}
// end popups

/*
.grey-block-form
{
  position: relative;
  margin-bottom: 30px;
  &.form-center {
    text-align: center;
    margin-top: 40px;
  }

  .form-control-bg
  {
    @include border-radius(1px);
    height: (47px / 16px) + 0em;
    border: 1px solid transparent;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    font-family: 'Tahoma';
    font-size: (16px / $base-fontSize) + 0em;
    line-height: 1;
    color: $color-black;
    background-color: #fff !important;
  }
}
*/

form
{
  position: relative;
  bottom: 50px;
}

.form-group {
	position: relative;
	margin-bottom: 30px;
	&.form-center {
		text-align: center;
		margin-top: 40px;
	}
	.form-control {
		@include border-radius(1px);
		height: (47px / 16px) + 0em;
		border: 1px solid transparent;
		border-top: 1px solid #dfdfdf;
		border-left: 1px solid #dfdfdf;
		background-color: #f8f8f8;
		font-family: 'Tahoma';
		font-size: (16px / $base-fontSize) + 0em;
		line-height: 1;
		color: $color-black;

      &.bg { background-color: #fff; }

	}

	&.has-success {
		.form-control {
			border: 1px solid #2368b2;
		}
	}
	&.has-error {
		.form-control {
			background-color: #fff3f3;
			border: 1px solid #d15a5a;
		}
	}
	&.submit-group {
		.control-label {
			display: block;
			margin: 5px 0 0 0;
		}
	}
	.control-label {
		display: inline-block;
		font-family: 'Tahome';
		font-size: (15px / $base-fontSize) + 0em;
		color: #ce0000;
		font-weight: normal;
		margin-left: 20px;
	}
	.input_wrap {
		display: inline-block;
	}
}
.btn {
	margin: -4px 0 0 20px;
	border: none;
	padding-top: 0;
	padding-bottom: 0;
	@include border-radius(1px);
	&.link_button {
		@include padding( '', 34px, '', 34px, 20px);
	}
}
.input-group {
	.input-group-btn {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
		display: inline-block;
		height: 100%;
		text-align: center;
		padding: 0 14px;
		background-color: #f9b32a;
		padding: 0;
	}
	.btn {
		margin: 0;
		padding: 0;
		background: none;
		color: #fff !important;
		font-family: 'pf_beausans_probold';
		display: inline-block;
		line-height: 43px;
		background-color: $color-yellow;
		color: $color-white;
		font-size: (16px / $base-fontSize) + 0em;
		padding: 0 14px;
	}
}
.input-group-btn {
	font-size: (16px / $base-fontSize) + 0em;
	width: auto;
}
.form-style_list {
	.form-group {
		margin-bottom: 22px;
	}
}
.candidate-form {
	.input_wrap {
		width: 398px;
	}
}

.a
{
  text-align: center;
  position: relative;
  bottom: 20px;

  .color-a
  {
    color: #f9b32a;
    font-size: 0.8em;
  }

}

span
{
  &.color
  {
    color: #f9b32a;
  }
}
.social_modal {
  width: 100%;
  .sm {
    width: 25%;
    height: 50px;
    float: inherit;
    display: inline-block;;
  }
}
.comand-block
{
  width: 19%;
  float: inherit;
  height: 300px;
  display: inline-block;
}

.description
{
  width: 200px;
  text-align: center;

  p
  {
    text-align: center;
    color: #000000;
    font-family: 'Tahoma';
    font-size: 0.8em;
    margin-top: 10px;
    padding-bottom: -10px;

    & b { font-size: 1.4em; }

    &.left { text-align: left;}
  }
}

.margin { margin: 40px auto; }

.padding { padding-top: 20px;}

.block-description
{
  text-align: center;
  font-family: 'Tahoma';
  margin-top: 60px;

  h3
  {
    font-size: 1.5em;
    color: #000;
    font-weight: 900;
  }

  p
  {
    font-size: 1em;
    color: #000;
  }
}

footer
{
  width: 100%;
  background: #175292;
  overflow: hidden;
  //height: 420px;

  .left-point
  {
    background: url('header/left-big.png') no-repeat;
    width: 114px;
    height: 99px;
    float: left;
    position: relative;
    top: 150px;
  }

  .center
  {
    margin: 50px auto;
  }

  .right-point
  {
    background: url(asset-path('header/right-big.png')) no-repeat;
    width: 114px;
    height: 99px;
    float: right;
    position: relative;
    top: 150px;
  }

  .social
  {
    width: 450px;
    height: 100px;
    margin: 0 0 0 50px;

    .image
    {
      width: 150px;
      height: 85px;
      float: left;

      img
      {
        margin-left: 32px;
        margin-right: 32px;
      }
    }
  }

  .block-description
  {
    width: 500px;
    text-align: center;
    font-family: 'Tahoma';
    margin: 30px 0 0 50px;

    h3
    {
      font-size: 1.5em;
      color: #FFF;
      font-weight: 900;
    }

    p
    {
      font-size: 1em;
      color: #FFF;
    }
  }

}
.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}

.background
{
  background: url(asset-path('header-bg.jpg')) no-repeat;
  background-size: cover;
  width: 100%;
  height: 704px;
}

/*-Carousel-*/
.carousel
{
  //width: 100%;
  //height: 600px;

  .arrow-position
  {
    margin-top: 200px;
  }
}

.carousel-inner
{
  //height: 550px;
}

.carousel-inner-footer
{
  height: 300px;
}

.carousel-caption
{
  height: 550px;
}

.carousel-caption-footer
{
  height: 300px;
}

.item
{
  width: 100%;
  height: 550px;
}

.item-footer
{
  width: 750px;
  height: 300px;
}

.carousel-indicators
{
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 15;
  height: 157px;
  background: url(asset-path('line.png')) repeat-x;;
  width: 100%;
  padding-left: 0;
  margin-left: -50%;
  text-align: center;
  padding-top: 34px;

  .active
  {
    background: transparent;
    width: 130px;
  }
}

.carousel-control
{
  &.no-shadow
  {
    text-shadow: none !important;
  }

  &.no-bg
  {
    background: none;
  }

}
#map-canvas {
  width: 176px;
  height: 146px;
  position: absolute;
  top: -25px;
  left: -2px;
  opacity: 1;
}

#searchButton {
  width: 176px;
  &:disabled {
    background: #eee !important;
    opacity: 1 !important;
  }
}
