@import "vars";
@import "mixins";

.wrap_style {
	padding: 10px 0;
}
a {
	text-decoration: none;
	&:hover, &:focus {
		text-decoration: none;
	}
}
ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}


.link_list {
	li {
		float: left;
		margin-left: 18px;
		&:first-child {
			margin-left: 0;
			.link_ico {
				display: none;
			}			
		}
		&.active {
			.link {
				color: $color-yellow;
				border-bottom-color: transparent;
			}
		}
	}
}
.link {
	font-family: 'pf_beausans_probold';
	font-size: $base-fontSize;
	line-height: 1;
	color: $color-black;
	text-transform: uppercase;
	border-bottom: 1px solid $color-black;
	&:hover {
		border-bottom-color: transparent;
		color: $color-black;
	}
}
.link_ico {
	display: inline-block;
	width: 5px;
	height: 6px;
	background: url(asset-path("sprite.png")) -880px -80px no-repeat;
	margin-right: 18px;
	vertical-align: middle;
}
.link_button {
	display: inline-block;
	line-height: (46px / 20px) + 0em;
	font-size: (20px / $base-fontSize) + 0em;
	font-family: 'pf_beausans_probold';
	background-color: $color-yellow;
	@include padding( '', 44px, '', 44px, 20px);
	color: $color-white;
	&:hover {
		background-color: desaturate($color-yellow, 21);
	}
	&.link_button-blue {
		background-color: $color-blue;
	}
}