@import "vars";
@import "mixins";

.clear {clear: both;font-size:0; line-height:0; display: block;}
.wrap_style {
	padding: 10px 0;
}
body {
	font-size: $base-fontSize;
}
.col-md-6 {
	padding: 0;
}
a {
	text-decoration: none;
	&:hover, &:focus {
		text-decoration: none;
	}
}
input {
	outline: none;
}
ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}
.nav {
	position: relative;
	> li {
		margin-left: 20px;
		> a {
			padding:0;
			display: inline-block;
			&:hover, &:focus {
				background-color: transparent;
			}
		}
	}
}
.container-outlook {
	min-height: 341px;
	padding: 0;
}


.link_list {
	float: left;
	li {
		float: left;
		margin-left: 18px;
		&:first-child {
			margin-left: 0;
			.link_ico {
				display: none;
			}			
		}
		&.active {
			.link {
				color: $color-yellow;
				border-bottom-color: transparent;
			}
		}
	}
}
.link {
	font-family: 'pf_beausans_probold';
	font-size: $base-fontSize;
	line-height: 1;
	color: $color-black;
	text-transform: uppercase;
	border-bottom: 1px solid $color-black;
	&:hover {
		border-bottom-color: transparent;
		color: $color-black;
	}
}
.link_ico {
	display: inline-block;
	width: 5px;
	height: 6px;
	background: url(asset-path("sprite.png")) -880px -80px no-repeat;
	margin-right: 18px;
	vertical-align: middle;
}
.link_button {
	display: inline-block;
	line-height: (46px / 20px) + 0em;
	font-size: (20px / $base-fontSize) + 0em;
	font-family: 'pf_beausans_probold';
	background-color: $color-yellow;
	@include padding( '', 44px, '', 44px, 20px);
	color: $color-white;
	&:hover {
		background-color: #f9c45e;
		color: $color-white;
	}
	&.active {
		background-color: #e6a526;
	}
	&.link_button-blue {
		background-color: $color-blue;
		&:hover {
			background-color: #4785c7;
			&.active {
				background-color: #1c5a9d;
			}
		}
	}
}
.wrap_link-button {
	position: relative;
	left: -50px;
	&.link-button-left {
		float: left;
		margin-left: 70px;
	}
	li {
		margin: 10px 0 0 50px;
	}
}

.wrap_ico {
	background-color: #dfdfdf;
	padding: 25px 0;
}
.ico_list-wrap {
	> li {
		margin-top: 30px;
		&:first-child {
			margin-top: 0;
		}
	}
}
.ico_list {
	position: relative;
	left: -40px;
	li {
		float: left;
		margin-left: 40px;
	}
}
.ico-item {
	color: $color-white;
	display: inline-block;
	text-align: center;
	.ico-text {
		font-size: (15px / $base-fontSize) + 0em;
		line-height: (19px / 15px) + 0em;
		text-align: center;
		display: block;
		text-decoration: underline;
		&.ico-text_small {
			width: 72px;
		}
	}
	&:hover {
		color: $color-white;
		.ico-text {
			text-decoration: none;
		}
	}
	&.active {

	}
	.ico-img {
		display: inline-block;
		min-height: 55px;
	}
	&.ico-yard {
		.ico-img {
			width: 47px;
			height: 45px;
			background: url(asset-path("sprite.png")) -40px 0 no-repeat;
		}
		&.active {
			.ico-img {
				background-position: -40px -160px;
			}
			&:hover {
				.ico-img {
					background-position: -40px -160px;
				}
			}
		}
		&:hover {
			.ico-img {
				background-position: -40px -80px;
			}
		}
	}
	&.ico-square {
		.ico-img {
			width: 56px;
			height: 41px;
			background: url(asset-path("sprite.png")) -120px 0 no-repeat;
		}
		&.active {
			.ico-img {
				background-position: -120px -160px;
			}
			&:hover {
				.ico-img {
					background-position: -120px -160px;
				}
			}
		}
		&:hover {
			.ico-img {
				background-position: -120px -80px;
			}
		}
	}
	&.ico-garbage{
		.ico-img {
			width: 43px;
			height: 43px;
			background: url(asset-path("sprite.png")) -200px 0 no-repeat;
		}
		&.active {
			.ico-img {
				background-position: -200px -160px;
			}
			&:hover {
				.ico-img {
					background-position: -200px -160px;
				}
			}
		}
		&:hover {
			.ico-img {
				background-position: -200px -80px;
			}
		}
	}
	&.ico-home {
		.ico-img {
			width: 60px;
			height: 40px;
			background: url(asset-path("sprite.png")) -280px 0 no-repeat;
		}
		&.active {
			.ico-img {
				background-position: -280px -160px;
			}
			&:hover {
				.ico-img {
					background-position: -280px -160px;
				}
			}
		}
		&:hover {
			.ico-img {
				background-position: -280px -80px;
			}
		}
	}
	&.ico-become_hero {
		.ico-img {
			width: 28px;
			height: 45px;
			background: url(asset-path("sprite.png")) -360px 0 no-repeat;
		}
		&.active {
			.ico-img {
				background-position: -360px -160px;
			}
			&:hover {
				.ico-img {
					background-position: -360px -160px;
				}
			}
		}
		&:hover {
			.ico-img {
				background-position: -360px -80px;
			}
		}
	}
	&.ico-small_business {
		.ico-img {
			width: 48px;
			height: 43px;
			background: url(asset-path("sprite.png")) -400px 0 no-repeat;
		}
		&.active {
			.ico-img {
				background-position: -400px -160px;
			}
			&:hover {
				.ico-img {
					background-position: -400px -160px;
				}
			}
		}
		&:hover {
			.ico-img {
				background-position: -400px -80px;
			}
		}
	}
	&.ico-bicycle {
		.ico-img {
			width: 59px;
			height: 38px;
			background: url(asset-path("sprite.png")) -480px 0 no-repeat;
		}
		&.active {
			.ico-img {
				background-position: -480px -160px;
			}
			&:hover {
				.ico-img {
					background-position: -480px -160px;
				}
			}
		}
		&:hover {
			.ico-img {
				background-position: -480px -80px;
			}
		}
	}
	&.ico-honesty_authorities {
		.ico-img {
			width: 35px;
			height: 40px;
			background: url(asset-path("sprite.png")) -560px 0 no-repeat;
		}
		&.active {
			.ico-img {
				background-position: -560px -160px;
			}
			&:hover {
				.ico-img {
					background-position: -560px -160px;
				}
			}
		}
		&:hover {
			.ico-img {
				background-position: -560px -80px;
			}
		}
	}
	&.ico-your_problem {
		.ico-img {
			width: 46px;
			height: 45px;
			background: url(asset-path("sprite.png")) -640px 0 no-repeat;
		}
		&.active {
			.ico-img {
				background-position: -640px -160px;
			}
			&:hover {
				.ico-img {
					background-position: -640px -160px;
				}
			}
		}
		&:hover {
			.ico-img {
				background-position: -640px -80px;
			}
		}
	}
}
.arrow {
	display: inline-block;
	width: 20px;
	height: 53px;
	cursor: pointer;
	&.arrow_prev {
		background: url(asset-path("sprite.png")) -720px -80px no-repeat;
		&:hover, &.active {
			background-position: -720px -0px;
		}
	}
	&.arrow_next {
		background: url(asset-path("sprite.png")) -760px -80px no-repeat;
		&:hover, &.active {
			background-position: -760px 0px;
		}
	}
}
.title {
	font-family: 'pf_beausans_prosemibold';
	font-size: (36px / $base-fontSize) + 0em;
	line-height: 1;
	color: $color-black;
	.title-relative {
		display: inline-block;
		color: $color-yellow;
		position: relative;
		border-bottom: 1px solid $color-yellow;
		.title-relative-arrow {
			position: absolute;
			bottom: -8px;
			left: 50%;
			margin-left: -9px;
			display: inline-block;
			width: 18px;
			height: 8px;
			background: url(asset-path("sprite.png")) -800px 0 no-repeat;
		}
	}
	.title-relative-none {
		color: $color-black;
		border-bottom: 1px dotted $color-black;
		.title-relative-arrow {
			display: none;
		}
	}
	&:hover {
		.title-relative-none {
			border-bottom: none;
			cursor: default;
		}
	}
}
.candidate-scale_wrap {
	width: 308px;
	&.candidate-scale_wrap-left {
		float: left;
	}
}
.candidate_head {
	.candidate-ico {
		display: inline-block;
		width: 6px;
		height: 15px;
		background: url(asset-path("sprite.png")) -840px 0 no-repeat;
		float: left;
		&.candidate-ico_four {
			float: right;
			width: 33px;
			background-position: -880px 0;
		}
	}
	.candidate_head-text {
		float: left;
		margin-left: 50px;
		font-family: 'Tahoma';
		font-size: (14px / $base-fontSize) + 0em;
		line-height: 15px;
	}
}
.candidate_head-decor {
	height: 15px;
	background: #8eec7c; /* Old browsers */
	background: -moz-linear-gradient(left, #8eec7c 0%, #7ff4ea 18%, #7aafff 39%, #ffffac 57%, #ffd847 79%, #ff6c00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#8eec7c), color-stop(18%,#7ff4ea), color-stop(39%,#7aafff), color-stop(57%,#ffffac), color-stop(79%,#ffd847), color-stop(100%,#ff6c00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #8eec7c 0%,#7ff4ea 18%,#7aafff 39%,#ffffac 57%,#ffd847 79%,#ff6c00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #8eec7c 0%,#7ff4ea 18%,#7aafff 39%,#ffffac 57%,#ffd847 79%,#ff6c00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #8eec7c 0%,#7ff4ea 18%,#7aafff 39%,#ffffac 57%,#ffd847 79%,#ff6c00 100%); /* IE10+ */
	background: linear-gradient(to right, #8eec7c 0%,#7ff4ea 18%,#7aafff 39%,#ffffac 57%,#ffd847 79%,#ff6c00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8eec7c', endColorstr='#ff6c00',GradientType=1 ); /* IE6-9 */
	@include border-radius(7px);
	-moz-box-shadow: 1px 1px 10px $color-black;
	-webkit-box-shadow: 1px 1px 10px $color-black;
	box-shadow: 1px 1px 10px $color-black;
}
.candidate_wrap {
	background-color: $color-white;
	width: 308px;
	-moz-box-shadow: 3px 3px 10px $color-black;
	-webkit-box-shadow: 3px 3px 10px $color-black;
	box-shadow: 3px 3px 10px $color-black;
	@include border-radius(2px);
	padding: 10px 5px 5px 18px;
	margin-top: 10px;
	&.candidate_wrap-left {
		float: left;
	}
}
.candidate_body {
	position: relative;
	padding-bottom: 13px;
	.link_button {
		margin-top: 10px;
	}
}
.candidate_body-title {
	font-family: 'pf_beausans_proregular';
	font-size: (18px / $base-fontSize) + 0em;
	color: $color-black;
	.candidate_list-count {
		color: #a8a8a8;
	}
}
.candidate_list {
	position:relative;
	left: -25px;
	width: 300px;
	li {
		float: left;
		margin: 20px -10px 0 25px;
		.candidate_list-ico {
			display: inline-block;
			vertical-align: middle;
			width: 32px;
			height: 32px;
			background: url(asset-path("sprite.png")) -880px -40px no-repeat;
		}
		.candidate_list-text {
			display: inline-block;
			vertical-align: middle;
			margin-left: 8px;
			width: 85px;
			font-family: 'Tahoma';
			font-size: (12px / $base-fontSize) + 0em;
			line-height:1;
			text-decoration: underline;
			color: $color-blue;
		}
	}
}
.candidate_link {
	margin-top: 10px;
	display: inline-block;
	font-family: 'pf_beausans_probold';
	font-size: (23px / $base-fontSize) + 0em;
	line-height: (46px / 20px) + 0em;
	background-color: $color-blue;
	color: $color-white;
	padding: 0 42px;
}
.candidate-decor {
	position: absolute;
	bottom: 0;
	left: 0;
	display: inline-block;
	width: 270px;
	height: 1px;
	background-color: #d6d6d6;
}
.candidate-arrow_wrap {
	text-align: center;
}
.candidate-arrow_link {
	display: inline-block;
	width: 10px;
	height: 6px;
	background: url(asset-path("sprite.png")) -840px -80px no-repeat;
	cursor: pointer;
}
.link_load-more-wrap {
	float: left;
	margin-left: 58px;
	li {
		float: left;
		margin-left: 25px;
		&:first-child {
			margin-left: 0;
		}
	}
}
.link_load-more {
	display: inline-block;
	width: 48px;
	height: 41px;
	background: url(asset-path("sprite.png")) -920px 0 no-repeat;
	&:hover, &:focus {
		background-position: -920px -80px;
	}
	&.active {
		background-position: -920px -160px;
	}
}
.info_wrap {
	&.info_wrap-indent {
		margin-top: 30px;
	}
	.info-ico {
		display: inline-block;
		margin-right: 5px;
		vertical-align: middle;
		width: 20px;
		height: 20px;
		background: url(asset-path("sprite.png")) -800px -80px no-repeat;
	}
	.info-text {
		font-family: 'Tahoma';
		font-size: (14px / $base-fontSize) + 0em;
		line-height: 1;
		color: $color-black;
	}
	.info-link {
		color: $color-blue;
		text-decoration: underline;
	}
	&:hover {
		.info-link {
			text-decoration: none;
		}
	}
}
.soc_list {
	position:relative;
	left: -19px;
	li {
		float: left;
		margin-left: 19px;
		.soc-link {
			display: inline-block;
			width: 45px;
			height: 45px;
			&.soc-fb {
				background: url(asset-path("sprite.png")) 0px -240px no-repeat;
				&:hover, &.active {
					background-position: -240px -240px;
				}
			}
			&.soc-tw {
				background: url(asset-path("sprite.png")) -80px -240px no-repeat;
				&:hover, &.active {
					background-position: -320px -240px;
				}
			}
			&.soc-vk {
				background: url(asset-path("sprite.png")) -160px -240px no-repeat;
				&:hover, &.active {
					background-position: -400px -240px;
				}
			}
		}
	}
}
.style-left {
	float: left;
	padding: 0 40px;
}
.info_wrap-list {
	margin-bottom: 40px;
	li {
		margin-top: 10px;
	}
}
.compete-ico {
	display: inline-block;
	width: 68px;
	height: 61px;
	background: url(asset-path("sprite.png")) -720px -160px no-repeat;
	&:hover {
		background-position: -800px -160px;
	}
}
.superman-ico {
	display:inline-block;
	width: 74px;
	height: 93px;
	background: url(asset-path("sprite.png")) -480px -240px no-repeat;
	&:hover {
		background-position: -720px -240px;
	}
	&.man {
		background-position: -600px -240px;
		width: 71px;
		height: 111px;
		&:hover {
			background-position: -840px -240px;
		}
	}
}
.superman_list {
	li {
		float: left;
		margin-left: 20px;
		.superman-ico {
			margin-top: 20px;
			&.man {
				margin-top: 0;
			}
		}
	}
}
.help_proj {
	font-family: 'pf_beausans_prosemibold';
	font-size: (36px / $base-fontSize) + 0em;
	line-height: 1;
	text-align:center;
	.help_proj-link {
		border-bottom: 1px dashed $color-blue;
		color: $color-blue;
		&:hover {
			border-bottom: none;
			color: $color-blue;
		}
	}
}
.form-style_list {
	display: inline-block;
	li {
		margin-top: 10px;
	}
}
.form-pos {
	padding: 20px 0;
	&.form-center {
		text-align: center;
	}
}
.form_inp {
	display:inline-block;
	width: 375px;
	line-height: 1;
	height: (47px / 16px) + 0em;
	font-family: 'Tahoma';
	font-size: (16px / $base-fontSize) + 0em;
	color: $color-black;
	background-color: #f8f8f8;
	border: 1px solid transparent;
	border-top: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	padding: 0 16px;
}
.form-hint_text {
	display: block;
	font-family: 'Tahome';
	font-size: (15px / $base-fontSize) + 0em;
	color: #ce0000;
}
.input_wrap {
	position: relative;
	.form_inp-text {
		position: absolute;
		top: 50%;
		left: 16px;
		margin-top: -6px;
		display: inline-block;
		color: $color-black;
		font-family: 'Tahoma';
		font-size: (16px / $base-fontSize) + 0em;
		line-height: 1;
	}
	.form-hint_text {
		display: none;
		margin-left: 20px;
		font-family: 'Tahome';
		font-size: (15px / $base-fontSize) + 0em;
		color: #ce0000;
	}
	.form_inp-star {
		display: inline-block;
		width: 5px;
		height: 5px;
		background: url(asset-path("sprite.png")) -880px -80px no-repeat;
		vertical-align: 6px;
	}
	&.input_disabled {
		.form_inp-text {
			color: #c4c4c4;
		}
	}
	&.input_completed {
		.form_inp {
			border: 1px solid $color-blue;
		}
		.form_inp-star{
			display: none;
		}
	}
	&.input_error {
		.form-hint_text {
			display: inline-block;
		}
		.form_inp {
			background-color: #fff3f3;
			border: 1px solid #d15a5a;
		}
		.form_inp-star {
			display: none;
		}
	}
	&.input_send {
		float: left;
		.form-hint_text {
			display: block;
			margin: 7px 0 0 0;
		}
	}
}
.block_news {
	width: 232px;
	min-height: 306px;
	position: relative;
	background-color: $color-white;
	padding: 158px 11px 5px 17px;
	-moz-box-shadow: 2px 2px 10px #727272;
	-webkit-box-shadow: 2px 2px 10px #727272;
	box-shadow: 2px 2px 10px #727272;
	&.block_news-left {
		float: left;
	}
	.block_news-img {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		height: 146px;
		width: 232px;
	}
	.block_news-title {
		margin: 0 0 5px 0;
		font-size: (18px / $base-fontSize) + 0em;
		color: $color-black;
		line-height: ( 23px / 18px ) + 0em;
		font-family: 'pf_beausans_prosemibold';
		.block_news-title_ico {
			display: inline-block;
			width: 18px;
			height: 18px;
			background: url(asset-path("sprite.png")) -0px -320px no-repeat;
			vertical-align: middle;
			&:hover, &:focus {
				background-position: -40px -320px;
			}
		}
		&:hover, &:focus {
			.block_news-title_text {
				cursor: default;
				border-bottom: 1px solid $color-black;
			}
		}
	}
	.block_news-data_link {
		font-family: 'Tahoma';
		font-size: (13px / $base-fontSize) + 0em;
		line-height: 1;
		color: $color-blue;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
	.block_news-text {
		font-family: 'Tahoma';
		font-size: (13px / $base-fontSize) + 0em;
		line-height: (20px / 13px) + 0em;
	}
}
.form_login-send {
	float: left;
	.inp_submit {
		display: none;
	}
	.link_button {
		cursor: pointer;
		margin-left: 20px;
		@include padding( '', 34px, '', 34px, 20px);
	}
}
.find-block_wrap {
	height: 43px;
	width: 406px;
	position: relative;
	.find-block {
		width: 406px;
		height: 43px;
		border: 1px solid transparent;
		background-color: $color-white;
		padding: 0 80px 0 21px;
		-webkit-box-shadow: 0.1em 0.1em 1px rgba(122,122,122,0.5);
		-moz-box-shadow:    0.1em 0.1em 1px rgba(122,122,122,0.5);
		box-shadow: 0.1em 0.1em 1px rgba(122,122,122,0.5);
		@include border-radius(1px);
		&:focus {
			border-color: $color-yellow;
		}
	}
	.find-block_finder {
		position: absolute;
		right: 0;
		top: 0;
		display: inline-block;
		line-height: 43px;
		background-color: $color-yellow;
		color: $color-white;
		font-family: 'pf_beausans_probold';
		font-size: (16px / $base-fontSize) + 0em;
		padding: 0 14px;
	}
	.find-block-ico_close {
		display: none;
		width: 11px;
		height: 11px;
		background: url(asset-path("sprite.png")) -80px -320px no-repeat;
		position: absolute;
		top: 17px;
		right: 86px;
		cursor: pointer;
		&.active {
			display: inline-block;
		}
	}
}
.block_popup-wrap {
	&.block_popup-wrap_left {
		float: left;
		margin-left: 40px;
	}
}
.popup_hint {
	-webkit-box-shadow: 0.2em 0.2em 2px rgba(122,122,122,0.5);
	-moz-box-shadow:    0.2em 0.2em 2px rgba(122,122,122,0.5);
	box-shadow: 		0.2em 0.2em 2px rgba(122,122,122,0.5);
	background-color: $color-white;
	@include padding( 21px, 21px, 21px, 21px, 16px);
	width: 406px;
	.popup_hint-title {
		font-family: 'pf_beausans_prosemibold';
		font-size: (20px / $base-fontSize) + 0em;
		line-height: 1;
		color: $color-black;
	}
	.popup_hint-text {
		font-family: 'Tahoma';
		font-size: (15px / $base-fontSize) + 0em;
		line-height: (20px / 13px) + 0em;
	}
}
.popup_hint-arrow {
	position: relative;
	-webkit-box-shadow: 0.2em 0.2em 2px rgba(122,122,122,0.5);
	-moz-box-shadow:    0.2em 0.2em 2px rgba(122,122,122,0.5);
	box-shadow: 		0.2em 0.2em 2px rgba(122,122,122,0.5);
	background-color: $color-white;
	width: 267px;
	@include border-radius(1px);
	@include padding( 4px, 25px, 13px, 29px, 16px);
	text-align: center;
	&.popup_hint-arrow-indent {
		margin-top: 10px;
	}
	&.popup_hint-arrow-position {
		position: absolute;
		top: 450px;
		left: 350px;
		margin-left: -175px;
	}
	.popup_hint-arrow_close {
		position: absolute;
		top: 6px;
		right: 6px;
		display: inline-block;
		width: 7px;
		height: 6px;
		background: url(asset-path("sprite.png")) -800px -40px no-repeat;
		cursor: pointer;
	}
	.popup_hint-arrow_img {
		position: absolute;
		bottom: -19px;
		left: 50%;
		margin-left: -9px;
		display: inline-block;
		width: 27px;
		height: 20px;
		background: url(asset-path("sprite.png")) -840px -40px no-repeat;
	}
	.popup_hint-arrow_title {
		font-family: 'pf_beausans_prosemibold';
		font-size: (14px / $base-fontSize) + 0em;
		line-height: (23px / 14px) + 0em;
		color: $color-black;
		margin-bottom: 0;
	}
	.popup_hint-arrow_text {
		font-family: 'Tahoma';
		font-size: (13px / $base-fontSize) + 0em;
		line-height: (23px / 13px) + 0em;
		color: $color-black;
	}
}
// start home
.header {
	padding: 35px 0 31px 0;
}
.logo-wrap {
	float: left;
}
.text-decor {
	display: inline-block;
	width: 170px;
	padding-left: 20px;
	font-family: 'pf_beausans_probbook';
	font-size: (13px / $base-fontSize) + 0em;
	line-height: (14px / 13px) + 0em;
	border-left: 1px solid #a3a3a3;
	color: $color-black;
	vertical-align: middle;
	margin-left: 17px;
}
.slider {
	position: relative;
	text-align: center;
	background: url(asset-path("slider-bg.jpg")) no-repeat;
	background-size: cover;
	width: 100%;
	padding: 55px 0 68px 0;
	.slider-button_decor {
		position: absolute;
		bottom: 0;
		left: 0;
		display: inline-block;
		width: 100%;
		height: 4px;
		background: url(asset-path("sprite-bot_decor.png")) repeat-x;
	}
}
.container-pos {
	position: relative;
	.arrow {
		position: absolute;
		top: 50%;
		margin-top: -27px;
		&.arrow_prev {
			left: 0;
		}
		&.arrow_next {
			right: 0;
		}
	}
	.ico_list {
		width: 998px;
		margin-top: 50px;
	}
}
.slider-title {
	color: $color-white;
	font-size: (70px / $base-fontSize) + 0em;
	line-height: 1;
	text-shadow: 1px 1px 2px $color-black, 0 0 1em $color-black;
}
.slider-text {
	color: $color-white;
	text-shadow: 1px 1px 2px $color-black, 0 0 1em $color-black;
	width: 610px;
	font-size: (19px / $base-fontSize) + 0em;
	line-height: (30px / 19px) + 0em;
	margin: 35px auto;
}
.about-title {
	display: inline-block;
	font-family: 'pf_beausans_prosemibold';
	font-size: (36px / $base-fontSize) + 0em;
	line-height: 1;
	color: $color-blue;
	border-bottom: 1px solid $color-blue;
	margin-top: 47px;
}
.about-text {
	margin-top: 22px;
	font-family: 'Tahoma';
	font-size: (14px / $base-fontSize) + 0em;
	line-height: (23px / 14px) + 0em;
}
.block-about_hint {
	float: right;
	width: 397px;
	margin-top: 47px;
	background-color: #fff8e9;
	padding: 35px 37px 24px 35px;
	position: relative;
}
.about_hint-decor {
	position: absolute;
	left: 0;
	display: inline-block;
	width: 100%;
	height: 3px;
	&.about_hint-decor_top {
		top: 0;
		background: url(asset-path("block-about_hint-decor_top.png")) repeat-x;
	}
	&.about_hint-decor_bottom {
		bottom: 0;
		background: url(asset-path("block-about_hint-decor.png")) repeat-x;
	}
}
.about-price {
	display: block;
	text-align: center;
	// font-family: 'pf_beausans_probold';
	font-size: (80px / $base-fontSize) + 0em;
	line-height: 1;
	color: $color-blue;
	.about-price_text {
		font-family: 'pf_beausans_prolight';
		font-size: (18px / 80px) + 0em;
		line-height: 1;
	}
}
.about_hint-text {
	position: relative;
	margin-top: 20px;
	text-align: center;
	font-family: 'Tahoma';
	font-size: (13px / $base-fontSize) + 0em;
	line-height: (24px / 13px) + 0em;
	padding: 38px 0 83px 0;
	border-top: 1px solid #e5e1d7;
	border-bottom: 1px solid #e5e1d7;
	.about_hint-ico_more-wrap {
		position: absolute;
		bottom: -20px;
		left: 50%;
		margin-left: -34px;
		display: inline-block;
		width: 68px;
		height: 41px;
		background-color: #fff8e9;
		text-align: center;
		.about_hint-ico_more {
			display: inline-block;
			width: 48px;
			height: 41px;
			background: url(asset-path("sprite.png")) -920px -0px no-repeat;
			background-color: #fff8e9;
		}
	}
}
.block-outlook {
	position: relative;
	margin-top: 9px;
	background: url(asset-path("outlook.jpg")) no-repeat;
	background-size: cover;
	width: 100%;
	min-height:341px;
	.outlook-text-wrap {
		position: absolute;
		top: 101px;
		left: 502px;
		background-color: $color-yellow;
		padding: 30px 39px;
		width: 475px;
		opacity: 0.95;
		filter: alpha(opacity=95);
		.outlook-text {
			font-family: 'Tahoma';
			font-size: (14px / $base-fontSize) + 0em;
			line-height: (23px / 14px) + 0em;
			color: $color-white;
		}
	}
	.outlook-arrows {
		display: inline-block;
		width: 45px;
		height: 45px;
		position: absolute;
		top: 50%;
		left: -22px;
		margin-top: -22px;
		background: url(asset-path("sprite.png")) -920px -240px no-repeat;
		z-index: 15;
	}
	.outlook-line_decor {
		display: inline-block;
		width: 86px;
		height: 100%;
		position: absolute;
		top: 0;
		left: -43px;
		background: url(asset-path("outlook-decor.png")) repeat-y;
		z-index: 10;
	}
}
.map-header-wrap {
	position: relative;
}
.map-header {
	position: relative;
	padding: 45px 0;
	text-align: center;
	.title-map {
		font-family: 'pf_beausans_prosemibold';
		font-size: (36px / $base-fontSize) + 0em;
		line-height: 1;
		color: $color-black;
		padding: 0 40px;
		display: inline-block;
		box-sizing: content-box;
		position: relative;
		background-color: $color-white;
		z-index: 15;
	}
	.map-text {
		font-family: 'Tahoma';
		font-size: (14px / $base-fontSize) + 0em;
		line-height: (23px / 14px) + 0em;
		color: $color-black;
		display: inline-block;
		&.map-text-wrap {
			width: 746px;
		}
	}
	.map-header_decor {
		display: inline-block;
		width: 100%;
		height: 1px;
		background: url(asset-path("map-header-decor.png")) repeat-x;
		position: absolute;
		top: 84px;
		left: 0;
		z-index: 10;
	}
}
.map-header-bottom_decor {
	display: inline-block;
	height: 20px;
	width: 100%;
	position: absolute;
	top: -11px;
	left: 0;
	background: url(asset-path("map-header_bot-decor.png")) repeat-x;
}
.map-body-wrap {
	position: relative;
	display: inline-block;
	background: url(asset-path("map.jpg")) no-repeat;
	background-size: cover;
	width: 100%;
	min-height:647px;
	.map-body-wrap_bg {
		position: absolute;
		top: 0;
		left: 0;
		background-color: $color-white;
		opacity: 0.5;
		filter: alpha(opacity=50);
		width: 100%;
		height: 100%;
	}
	.popup_hint {
		margin-top: 4px;
	}
	.map-block-wrap {
		margin-top: 45px;
	}
}
.subscription-title {
	margin: 27px 0 0 0;
	font-family: 'pf_beausans_prosemibold';
	font-size: (36px / $base-fontSize) + 0em;
	line-height: 1;
	text-align: center;
}
.subscription-wrap_input {
	margin: 30px 0 50px 0;
	text-align:center;
}
.developments {
	position: relative;
	background: url(asset-path("developments-bg.png")) repeat;
	padding: 30px 0 35px 0;
	.developments-list {
		margin-top: 25px;
	}
	.developments-decor {
		position: absolute;
		bottom: 0;
		left: 0;
		display: inline-block;
		width: 100%;
		height: 4px;
		background: url(asset-path("developments-decor.png")) repeat-x;
	}
	.developments-title {
		font-family: 'pf_beausans_prosemibold';
		font-size: (22px / $base-fontSize) + 0em;
		line-height: (23px / 22px) + 0em;
		.developments-title_ico {
			display: inline-block;
			vertical-align: middle;
			width: 16px;
			height: 19px;
			background: url(asset-path("sprite.png")) -920px -320px no-repeat;
		}
		.developments-title_text {
			margin-left: 5px;
		}
	}
}
.footer {
	background-color: #f8f8f8;
	padding: 28px 0 18px 0;
	.copyright {
		text-align: left;
	}
	.autor, .col-right {
		text-align: right;
	}
}
// end home
